*.*
!.gitignore
!Makefile
!*.txt
!*.c
!*.h
!*.S
!*.def
!*.conf
!*.bat
!*.cpp
!*.dsw
!*.dsp
!*.rc
!*.manifest
!*.rc2
!*.ico
!*.vcxproj
!*.vbp
!*.frm
!*.bas
!*.sln
!*.py
!*.plugin
src/PAL3Apatch/PAL3Apatch.def
src/PAL3Apatch/PAL3Apatch.r.def
src/PAL3patch/PAL3patch.def
src/PAL3patch/PAL3patch.r.def
.vs/
Debug/
Debug_PAL3/
Debug_PAL3A/
Release/
Release_PAL3/
Release_PAL3A/
